<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Itens</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicionando ícones do Font Awesome para a lupa -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>




    <div class="container mt-5">
        <h1 class="mb-4">Adicionar Itens</h1>
        <form onsubmit="event.preventDefault(); addItem();">
            <div class="form-group">
                <label for="material">Código:</label>
                <div class="input-group">
                    <input type="text" id="material" name="id_material" class="form-control"
                        placeholder="Digite o código do item">
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="redirect()"><i class="fas fa-search"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao_material" class="form-control"
                    placeholder="Descrição do item">
            </div>

            <div class="form-group">
                <label for="unidade">Unidade de Medida:</label>
                <input type="text" id="unidade" name="unid_medida_material" class="form-control"
                    placeholder="Ex: kg, L, unidade, etc.">
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade_material" class="form-control"
                    placeholder="Quantidade" min="0" step="1" oninput="calculateTotal()">
            </div>


            <% if(tipo_movimentacao==='entrada' ) {%>

                <div class="form-group">
                    <label for="valor_unit">Valor Unitário:</label>
                    <input type="number" id="valor_unit" name="valor_unit" class="form-control"
                        placeholder="Valor unitário" min="0" step="0.01" oninput="calculateTotal()">
                </div>
                <div class="form-group">
                    <label for="valor_total">Valor Total:</label>
                    <input type="number" id="valor_total" name="valor_total" class="form-control"
                        placeholder="Valor total" readonly>
                </div>
                <%}%>


                    <button type="submit" class="btn btn-primary">Adicionar Item</button>
                    <button type="button" class="btn btn-secondary" onclick="history.back();">Cancelar</button>
        </form>
    </div>

    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        var tipo_movimentacao = "<%= tipo_movimentacao %>"

        function calculateTotal() {
            const quantidade = parseFloat(document.getElementById('quantidade').value);
            const valorUnitario = parseFloat(document.getElementById('valor_unit').value);
            const valorTotal = isNaN(quantidade) || isNaN(valorUnitario) ? 0 : quantidade * valorUnitario;

            document.getElementById('valor_total').value = valorTotal.toFixed(2);
        }

        function addItem() {

            let dadosItem;

            if (tipo_movimentacao === 'entrada') {
                dadosItem = {
                    id_material: document.getElementById('material').value,
                    descricao_material: document.getElementById('descricao').value,
                    quantidade_material: document.getElementById('quantidade').value,
                    unid_medida_material: document.getElementById('unidade').value,
                    valor_unit: document.getElementById('valor_unit').value,
                    valor_total: document.getElementById('valor_total').value,
                }

            } else if (tipo_movimentacao === 'saida') {
                dadosItem = {
                    id_material: document.getElementById('material').value,
                    descricao_material: document.getElementById('descricao').value,
                    quantidade_material: document.getElementById('quantidade').value,
                    unid_medida_material: document.getElementById('unidade').value,

                };

            } else {
                console.log('Tipo de movimentação incorreta')
            }







            const storage_key = tipo_movimentacao === 'entrada' ? 'dados_entrada' : 'dados_saida';

            let itens = JSON.parse(sessionStorage.getItem(storage_key)) || [];

            itens.push(dadosItem)


            sessionStorage.setItem(storage_key, JSON.stringify(itens));
            sessionStorage.removeItem('material');

            window.location.href = `/movimentacoes/${tipo_movimentacao}`;

        }


        function redirect() {


            console.log(tipo_movimentacao)
            window.location.href = `/movimentacoes/${tipo_movimentacao}/itens_movimentacao/materiais`;


        }


        const dadosMaterial = sessionStorage.getItem('material');
        if (dadosMaterial) {
            // Converte os dados de material de string para objeto JavaScript
            const material = JSON.parse(dadosMaterial);


            document.getElementById('material').value = material.id_material;
            document.getElementById('descricao').value = material.descricao_material;
            document.getElementById('quantidade').value = material.quantidade_material;
            document.getElementById('unidade').value = material.unidade_medida_material;
           

            // Caso for entrada tambem adicionar ao material valor unit e valor total
            if (tipo_movimentacao === 'entrada') {
                document.getElementById('valor_unit').value = material.valor_unit;
                document.getElementById('valor_total').value = material.valor_total

            }


        }

    </script>
</body>

</html>