<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Entrada</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container my-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
                <li class="breadcrumb-item">
                    <a id="goBackButton" class="link-body-emphasis fw-semibold text-decoration-none"
                        onclick="cancelar()">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="#house-door-fill"></use>
                        </svg>
                        Home
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <% if(tipo_movimentacao==='entrada' ) {%>
        <div id="entrada" class="container mt-5">
            <h1 class="mb-3">Entrada de Material</h1>
            <form id="formEntrada">
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data_movimentacao" class="form-control" required>
                </div>



                <div class="form-group position-relative">
                    <label for="fornecedor">Fornecedor:</label>
                    <div class="input-group">
                        <select id="id_fornecedor" name="nome_fornecedor" class="form-control" required>
                            <!-- As opções serão preenchidas dinamicamente com fornecedores -->
                        </select>

                    </div>
                </div>





                <button type="button" class="btn btn-success mb-3"
                    onclick="addItens('<%= tipo_movimentacao %>')">Add</button>

                <!-- Botões Enviar e Cancelar mais abaixo -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
        <div class="container mt-5">
            <h1>Materiais</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Unidade de Medida</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody id="tabela_entrada">
                </tbody>
            </table>
            <div class="form-group mt-5">
                <label for="valor_total_nf" class="font-weight-bold">Valor Total NF:</label>
                <input type="text" id="valor_total_nf" name="valor_total_nf" class="form-control w-25"
                    oninput="atualizarValorTotalNF('<%= tipo_movimentacao %>')" readonly>
            </div>


        </div>
        <% }else if(tipo_movimentacao==='saida' ) {%>


            <div id="saida" class="container mt-5">
                <h1 class="mb-3">Saída de Material</h1>
                <form id="formSaida">
                    <div class="form-group">
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data_movimentacao" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <select id="id_usuario" name="id_usuario" class="form-control">
                            <!-- Options aqui -->
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="robo">Robô Destino:</label>
                        <select id="id_robo" name="id_robo" class="form-control">
                            <!-- Options aqui -->
                        </select>
                    </div>





                    <!-- Botão Add sozinho e com tom verde -->
                    <button type="button" class="btn btn-success mb-3"
                        onclick="addItens('<%= tipo_movimentacao %>')">Add</button>

                    <!-- Botões Enviar e Cancelar mais abaixo -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
                    </div>
                </form>
            </div>
            <div class="container mt-5">
                <h1>Materiais</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Unidade de Medida</th>
                        </tr>
                    </thead>
                    <tbody id="tabela_saida">
                    </tbody>
                </table>
            </div>
            <%}%>



                <!-- Bootstrap JS e dependências -->


                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script>


                    window.onload = function () {



                        const tipo_movimentacao = '<%= tipo_movimentacao %>';

                        const storage_key = tipo_movimentacao === 'entrada' ? 'dados_entrada' : 'dados_saida';


                        const itens = JSON.parse(sessionStorage.getItem(storage_key));

                        let tableRow = '';

                        if (itens) {
                            itens.forEach(dadosItem => {
                                tableRow = `<tr>
                            <td>${dadosItem.id_material}</td>
                            <td>${dadosItem.descricao_material}</td>
                            <td>${dadosItem.quantidade_material}</td>
                            <td>${dadosItem.unid_medida_material}</td>`;


                                if (tipo_movimentacao === 'entrada') {
                                    tableRow += `<td>${dadosItem.valor_unit}</td>
                                            <td>${dadosItem.valor_total}</td>`;
                                }

                                tableRow += `<td><i class="fas fa-trash"></i></td>
                                            <td><i class="fas fa-pencil-alt"></i></td>
                                            </tr>`;

                                const dadosMov = JSON.parse(sessionStorage.getItem('dados_mov'));

                                if (dadosMov.data_movimentacao) {
                                    document.getElementById('data').value = dadosMov.data_movimentacao;
                                }

                                if (tipo_movimentacao === 'entrada') {
                                    if (dadosMov.fornecedor) {
                                        document.getElementById('id_fornecedor').value = dadosMov.fornecedor;


                                    }


                                    document.getElementById('tabela_entrada').innerHTML += tableRow;


                                    atualizarValorTotalNF(tipo_movimentacao)

                                }

                                if (tipo_movimentacao === 'saida') {
                                    if (dadosMov.usuario) {
                                        document.getElementById('id_usuario').value = dadosMov.usuario;
                                    }
                                    if (dadosMov.robo) {
                                        document.getElementById('id_robo').value = dadosMov.robo;
                                    }
                                    document.getElementById('tabela_saida').innerHTML += tableRow;
                                }

                            })



                        }

                        function calcularValorTotalNF(tipo_movimentacao) {
                            const storage_key = tipo_movimentacao === 'entrada' ? 'dados_entrada' : 'dados_saida';
                            const itens = JSON.parse(sessionStorage.getItem(storage_key)) || [];

                            let valorTotalNF = 0;

                            itens.forEach(item => {
                                const valorTotalItem = parseFloat(item.valor_total);
                                if (!isNaN(valorTotalItem)) {
                                    valorTotalNF += valorTotalItem;
                                }
                            });

                            return valorTotalNF.toFixed(2);
                        }


                        // Chamada da função para atualizar o campo do valor total da nota fiscal
                        function atualizarValorTotalNF(tipo_movimentacao) {
                            const valorTotalNF = calcularValorTotalNF(tipo_movimentacao);
                            document.getElementById('valor_total_nf').value = valorTotalNF;
                        }


                        const formEntrada = document.getElementById('formEntrada');
                        const formSaida = document.getElementById('formSaida');



                        if (formEntrada) {
                            formEntrada.addEventListener('submit', function (event) {
                                event.preventDefault()
                                enviarDados('entrada')
                            })

                            carregadorForn()
                            document.getElementById('id_fornecedor').addEventListener('change', function () {
                                const opcao_selecionada = this.options[this.selectedIndex];
                                const id_fornecedor = opcao_selecionada.dataset.id_fornecedor;

                            })
                        }

                        if (formSaida) {
                            formSaida, addEventListener('submit', function (event) {
                                event.preventDefault()
                                enviarDados('saida')
                            })

                            carregarUsuarios();
                            carregarRobos();
                            document.getElementById('formSaida').addEventListener('submit', function (event) {
                                event.preventDefault();
                                // Aqui você pode enviar os dados para o backend, incluindo os valores selecionados dos selects
                            });
                        }
                    }


                    function addItens(tipo_movimentacao) {
                        // Obtém os valores dos campos de entrada
                        const data_movimentacao = document.getElementById('data').value;



                        // Constrói o objeto de dados dependendo do tipo de movimentação
                        let dadosMov = {};
                        if (tipo_movimentacao === 'entrada') {

                            const fornecedor = document.getElementById('id_fornecedor').value;

                            dadosMov = {
                                data_movimentacao: data_movimentacao,
                                fornecedor: fornecedor
                            };
                        } else if (tipo_movimentacao === 'saida') {

                            const usuario = document.getElementById('id_usuario').value;
                            const robo = document.getElementById('id_robo').value;

                            dadosMov = {
                                data_movimentacao: data_movimentacao,
                                usuario: usuario,
                                robo: robo
                            };
                        }

                        // Armazena o objeto de dados no sessionStorage
                        sessionStorage.setItem('dados_mov', JSON.stringify(dadosMov));


                        // Redireciona para a URL de adicionar itens à movimentação, com o tipo especificado
                        window.location.href = `/movimentacoes/${tipo_movimentacao}/itens_movimentacao`;

                    }


                    function dadosArmazenados(tipo_movimentacao) {

                        const storage_key = tipo_movimentacao === 'entrada' ? 'dados_entrada' : 'dados_saida';

                        // Recuperar os dados do sessionStorage
                        const dadosSalvos = sessionStorage.getItem(storage_key);

                        const dadosParaEnvio = JSON.parse(dadosSalvos);



                        let id_fornecedor = null;


                        if (tipo_movimentacao === 'entrada') {
                            const formEntrada = document.getElementById('formEntrada');
                            const dadosFormatados = dadosParaEnvio.map(item => ({
                                id_material: item.id_material,
                                quantidade_material: item.quantidade_material,
                                valor_unit: item.valor_unit,
                                valor_total: item.valor_total
                            }));


                            return {
                                data_movimentacao: formEntrada.data_movimentacao.value,
                                id_fornecedor: formEntrada.id_fornecedor.value,
                                itens_movimentacao: dadosFormatados
                            };

                        } else if (tipo_movimentacao === 'saida') {
                            const formSaida = document.getElementById('formSaida');
                            const dadosFormatados = dadosParaEnvio.map(item => ({
                                id_material: item.id_material,
                                quantidade_material: item.quantidade_material
                            }));


                            return {
                                data_movimentacao: formSaida.data_movimentacao.value,
                                id_usuario: formSaida.id_usuario.value,
                                id_robo: formSaida.id_robo.value,
                                itens_movimentacao: dadosFormatados

                            };

                        }




                    }



                    function enviarDados(tipo_movimentacao) {
                        // Enviar os dados coletados para o backend

                        const storage_key = tipo_movimentacao === 'entrada' ? 'dados_entrada' : 'dados_saida';

                        const dados = dadosArmazenados(tipo_movimentacao)



                        fetch(`/movimentacoes/${tipo_movimentacao}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },

                            body: JSON.stringify(dados)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                // Limpar o `sessionStorage` após o envio bem-sucedido
                                sessionStorage.removeItem(storage_key);
                                sessionStorage.removeItem('material');
                                sessionStorage.removeItem('dados_mov');
                                limparTabela(tipo_movimentacao);


                                // Exibir uma mensagem ao usuário, extraída do `data`
                                if (data.message) {
                                    alert(data.message); // Ou use SweetAlert para mensagens mais sofisticadas
                                } else {
                                    alert('Dados enviados com sucesso!');
                                }
                            })
                            .catch(error => {
                                console.error("Erro ao enviar dados:", error);
                                alert('Houve um erro ao enviar os dados. Por favor, tente novamente.');
                            });

                    }

                    function limparTabela(tipo_movimentacao) {
                        const tabela_id = tipo_movimentacao === 'entrada' ? 'tabela_entrada' : 'tabela_saida';
                        const tabela = document.getElementById(tabela_id);
                        if (tabela) {
                            tabela.innerHTML = ''; // Limpar a tabela
                        }
                    }

                    function carregadorForn() {
                        fetch('/fornecedores', { method: 'GET' })
                            .then(response => response.json())
                            .then(fornecedores => {
                                const select = document.getElementById('id_fornecedor');
                                select.innerHTML = ''; // Limpar datalist antes de preencher

                                const defaultOption = document.createElement('option');
                                defaultOption.value = '';
                                defaultOption.textContent = 'Selecione um fornecedor';
                                select.appendChild(defaultOption);


                                fornecedores.forEach(fornecedor => {
                                    const option = document.createElement('option');
                                    option.value = fornecedor.id_fornecedor;
                                    option.textContent = fornecedor.nome_fornecedor;
                                    select.appendChild(option);
                                });
                            })
                            .catch(error => {
                                console.error("Erro ao carregar fornecedores:", error);
                            });
                    }




                    function carregarUsuarios() {
                        fetch('/usuarios')
                            .then(response => response.json())
                            .then(usuarios => {
                                const selectUsuario = document.getElementById('id_usuario');
                                selectUsuario.innerHTML = ''; // Limpar select antes de preencher

                                const optionDefault = document.createElement('option');
                                optionDefault.value = '';
                                optionDefault.text = 'Selecionar Usuário';
                                selectUsuario.appendChild(optionDefault);


                                usuarios.forEach(usuario => {
                                    const option = document.createElement('option');
                                    option.value = usuario.id_usuario;
                                    option.textContent = usuario.nome_usuario;
                                    selectUsuario.appendChild(option);
                                });
                            })
                            .catch(error => {
                                console.error("Erro ao carregar usuários:", error);
                            });
                    }

                    function carregarRobos() {
                        fetch('/robos')
                            .then(response => response.json())
                            .then(robos => {
                                const selectRobo = document.getElementById('id_robo');
                                selectRobo.innerHTML = ''; // Limpar select antes de preencher

                                const optionDefault = document.createElement('option');
                                optionDefault.value = '';
                                optionDefault.text = 'Selecionar Robô';
                                selectRobo.appendChild(optionDefault);


                                robos.forEach(robo => {
                                    const option = document.createElement('option');
                                    option.value = robo.id_robo;
                                    option.textContent = robo.nome_robo;
                                    selectRobo.appendChild(option);
                                });
                            })
                            .catch(error => {
                                console.error("Erro ao carregar robôs:", error);
                            });
                    }

                    function cancelar() {
                        sessionStorage.removeItem('material');
                        sessionStorage.removeItem('dados_mov');
                        sessionStorage.removeItem('dados_entrada');
                        sessionStorage.removeItem('dados_saida');

                        window.location.href = '/'

                    }


                </script>
</body>

</html>